<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <p>id</p>
        <input type="text">
        <p>imagen</p>
        <input type="text">
        <p>modelo</p>
        <input type="text">
        <p>descripcion</p>
        <input type="text">
        <p>marca</p>
        <input type="text">
        <p>costo</p>
        <input type="number">
        <p>categoria</p>
        <input type="text">
        <p>cantidad</p>
        <input type="number">
        <div>
            <button>Crear nuevo</button>
            <button>Editar existente</button>
            <button>Borrar existente</button>
        </div>   
    </section>
</body>
</html>
